{% extends 'layout/lanchonete.html' %}

{% block content %}
<div class="container">
    <header class="h-100 p-5 bg-light border rounded-3 mt-4">
        <form action="" method="POST" class="row g-3">
            <!-- <fieldset>
                <legend class="text-center mt-4">Lista de Mesas Cadastradas</legend>
            </fieldset> -->
            <div class="col md-3">
                {{form.consultar(class='form-control', placeholder='Digita aqui a consulta')}}
            </div>
            <div class="col md-4">
                {{form.selection(class='form-select col-md-2 ml-3')}}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success ml-4"><i class="fa-solid fa-magnifying-glass"></i> Consultar</button>
                <a class="btn btn-primary ml-3" href="{{url_for('lanchonete.novoLanche')}}" role="button"><i class="fa-solid fa-plus"></i> Nova</a>
                <a class="btn btn-warning ml-3" href=" " role="button"><i class="fa-regular fa-file-pdf"></i> PDF</a>
            </div>
        </form>
    </header>
    <main>
        <fieldset>
            <legend class="text-center mt-4">Lanches cadastradas na lanchonete</legend>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome do Lanche</th>
                        <th scope="col">Ingrediente</th>
                        <th scope="col">Valor do Lanche</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lanche in lanches%}
                    <tr>
                        <td scope="row">{{lanche.id}}</td>
                        <td scope="row">{{lanche.nome}}</td>
                        <td scope="row">{{lanche.ingrediente}}</td>
                        <td scope="row">R$ {{lanche.valor}}</td>
                        <td scope="row">
                            <!-- Button trigger modal -->
                            <button onclick="editarLanche('{{lanche.id}}')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lancheModal">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="lancheModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="lancheModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="lancheModalLabel">Escolha umas das opções</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="idLanche" id="idLanche">
                <div class="bd-content ps-lg-2">
                    <button type="button" onclick="updateLanche()" class="btn btn-primary px-5 ms-5">Editar</button>
                    <button type="button" onclick="deleteLanche()" class="btn btn-danger px-5 ms-5">Excluir</button>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}
