{% extends 'layout/lanchonete.html' %}

{% block content %}
<div class="container py-3">

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal"> <a href="" class="text-white text-decoration-none">Mesa 1</a></h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-1 shadow p-3 mb-3 bg-body rounded text-success">Livre</h5>
                    <h1 class="card-title pricing-card-title">R$00,00</h1>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Acessar</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal"> <a href="" class="text-white text-decoration-none">Mesa 2</a></h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-1 shadow p-3 mb-3 bg-body rounded text-danger">Ocupada</h5>
                    <h1 class="card-title pricing-card-title">R$100,00</h1>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Acessar</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal"> <a href="" class="text-white text-decoration-none">Mesa 3</a></h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-1 shadow p-3 mb-3 bg-body rounded text-danger">Ocupada</h5>
                    <h1 class="card-title pricing-card-title">R$100,00</h1>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Acessar</button>
                </div>
            </div>
        </div>  
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal"> <a href="" class="text-white text-decoration-none">Mesa 4</a></h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-1 shadow p-3 mb-3 bg-body rounded text-danger">Ocupada</h5>
                    <h1 class="card-title pricing-card-title">R$100,00</h1>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Acessar</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal"> <a href="" class="text-white text-decoration-none">Mesa 5</a></h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-1 shadow p-3 mb-3 bg-body rounded text-success">Livre</h5>
                    <h1 class="card-title pricing-card-title">R$00,00</h1>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Acessar</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal"> <a href="" class="text-white text-decoration-none">Mesa 6</a></h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-1 shadow p-3 mb-3 bg-body rounded text-success">Livre</h5>
                    <h1 class="card-title pricing-card-title">R$00,00</h1>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Acessar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}