{% extends 'layout/lanchonete.html' %}

{% block content %}
<div class="container py-3">
    <!-- jumbotron -->
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h1 class="text-center">Mesa {{idMesa}}</h1>
      <p>Selecione abaixos os produtos para cadastrar.</p>

      
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-danger">
                <div class="card-header py-3 text-bg-danger border-danger">
                    <h4 class="my-0 fw-normal text-white ">Lanches</h4>
                </div>
                <div class="card-body">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option selected>Abra o menu</option>
                      {% for lanche in lanches %}
                        <option value="{{lanche.id}}">{{lanche.nome}}</option>
                      {% endfor %}
                    </select>
                    <button type="button" class="w-100 btn btn-lg btn-outline-danger">Adicionar</button>
                </div>
            </div>
        </div>
        <div class="col">
             <div class="card mb-4 rounded-3 shadow-sm border-danger">
                <div class="card-header py-3 text-bg-danger border-danger">
                    <h4 class="my-0 fw-normal text-white ">Porções</h4>
                </div>
                <div class="card-body">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option selected>Abra o menu</option>
                      {% for porcao in porcoes %}
                        <option value="{{porcao.id}}">{{porcao.nome}}</option>
                      {% endfor %}
                    </select>
                    <button type="button" class="w-100 btn btn-lg btn-outline-danger">Adicionar</button>
                </div>
            </div>
        </div>
        <div class="col">
             <div class="card mb-4 rounded-3 shadow-sm border-danger">
                <div class="card-header py-3 text-bg-danger border-danger">
                    <h4 class="my-0 fw-normal text-white ">Bebidas</h4>
                </div>
                <div class="card-body">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option selected>Abra o menu</option>
                      {% for bebdica in bebidas %}
                        <option value="{{bebdica.id}}">{{bebdica.nome}}</option>
                      {% endfor %}
                    </select>
                    <button type="button" class="w-100 btn btn-lg btn-outline-danger">Adicionar</button>
                </div>
            </div>
        </div>
      </div>
      <div class="h-100 p-5 bg-light border rounded-3 mt-4">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>           
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <button type="button" class="btn btn-danger">Enviar pedido</button>
        </div>
      </div>
    </div>
</div>
{% endblock content %}